.background {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	
	background-image: url("../images/pi.png");
	background-repeat: repeat;
}

.page {
	position: relative;
}

.navbar-fixed-top {
	position: -webkit-sticky;
	position: sticky;
	margin-bottom: 0px;
}

.dropdown-menu {
	z-index: 300;
}

.dropdown-menu .label {
	vertical-align: 1px;
}

.jumbotron {
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.075);
}

.gray-background {
	background: #eeeeee;
}

.octicon {
	vertical-align: middle;
}

.btn-primary .octicon,
.label .octicon {
	fill: currentcolor;
	vertical-align: -3px;
}

.section,
.section-header {
	margin-bottom: 20px;
}

.section .container,
.footer .container {
	padding-bottom: 10px;
}

.section h2 .btn-group {
	margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
	.section .container,
	.footer .container {
		padding-top: 10px;
		padding-bottom: 20px;
	}

	.section h2 .btn-group {
		margin-left: 10px;
	}
}

.blur-background {
	background-color: rgba(255, 255, 255, 0.9);
}

@supports (-webkit-backdrop-filter: blur(20px) brightness(130%)) or (backdrop-filter: blur(20px) brightness(130%)) {
	.blur-background {
		background-color: rgba(255, 255, 255, 0.2);
		-webkit-backdrop-filter: blur(20px) brightness(130%);
		backdrop-filter: blur(20px) brightness(130%);
	}
	
	@media (prefers-reduced-motion) {
		.blur-background {
			background-color: rgba(255, 255, 255, 0.5);
		}
	}
}

.no-background {
	color: #ffffff;
	text-shadow: 0px 0px 10px #000000;
}

.faded {
	filter: opacity(30%) brightness(20%);
}

.section-box {
	margin-top: 20px;
	border-top: rgba(238, 238, 238, 0.5) 1px solid;
	padding-top: 15px;
	color: #444444;
}

.anchor {
	position: relative;
	top: -70px;
}

* {
	word-wrap: break-word;
}

.footer {
	margin-top: 30px;
	margin-bottom: 100px;
}

.footer .container {
	padding-top: 30px;
}

html:not(.js) .js,
html.js .no-js {
	display: none;
}
